.grid-container {
    /* display: grid; */
    display: flex;
    grid-template-columns: 200px repeat( minmax(20rem, 1fr)); 
    grid-gap: 10px;
    height: 100vh;
  }
  
  .content {
    padding: 1rem;
  }
