html {
  font-size: 62.5%; 
}

body {
    font-size: 1.6em;
    background-color: #e8f1b1;
    
}

.App {
  /* text-align: center; */
  text-align: left;
}

.active {
  background-color: deepskyblue;
}

