.App {
  /* text-align: center; */
  text-align: left;
  display: flex;
}

.active {
  background-color: deepskyblue;
}

nav {
  width: 200px;
  height: 100vh;
  background-color: #f0f0f0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 10px;
  cursor: pointer;
}

li.active {
  background-color: #ddd;
}

main {
  flex-grow: 1;
  padding: 20px;
}